body{
    margin:0px;
    padding: 0px;
}
ul{
    list-style:none;
    margin-top: 10px;
}
ul li{
    display: inline;
    margin-right: 15px;
}

ul li a{
    color: white;
}

ul li a:hover{
    color: white;
    text-decoration: none;
}

.top-header{
    background-color: #95a5a6;
}












